.home {
  background-color: rgba(243, 242, 250, 1);
  padding: 50px 75px;
  min-height: 100vh;
}

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 64px;
    font-weight: bold;
  }

  div {
    width: 624px;
  }
}

.home__section {
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 32px;

  .categories {
    width: 50%;

    overflow-x: scroll;

    display: flex;
    align-items: center;

    &::-webkit-scrollbar {
      display: none;
    }

    & {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    button {
      text-wrap: nowrap;
      border: 1px solid transparent;
      background-color: transparent;
      cursor: pointer;
    }

    li {
      padding: 8px 16px;
      border-radius: 30px;
    }

    .active {
      border: 1px solid black;
      border-radius: 30px;
    }
  }

  &__blogs {
    margin-top: 50px;
    width: 1288px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
