.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 100px;

  border-bottom: 1px solid #e4e3eb;

  img {
    width: 150px;
  }

  &__btnWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.addBlogNav {
  justify-content: center;
}
